* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-hflex {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

.w-layout-vflex {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

h1 {
  text-align: center;
  letter-spacing: -2px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: var(--font-plus_jakarta_sans), sans-serif;
  font-size: 100px;
  font-weight: 700;
  line-height: 44px;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: bold;
  line-height: 36px;
}

h3 {
  letter-spacing: -2px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: var(--font-roboto), sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 30px;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  grid-column-gap: 23px;
  grid-row-gap: 23px;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 800px;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.container {
  width: 100%;
  max-width: 1440px;
}

.container.event-container {
  border: 2px solid #000;
}

.div-block {
  margin-top: 242px;
}

.bolden-h1 {
  color: #ff575a;
}

.heading {
  color: #000;
  font-size: 6.25rem;
  font-weight: 800;
  line-height: 6.25rem;
}

.h3 {
  color: #000;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2.25rem;
  line-height: 2.63rem;
}

.div-block-2 {
  margin-left: 130px;
  margin-right: 130px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.bolden-h3 {
  color: #ff575a;
  font-weight: 700;
}

.company-info {
  color: #000;
  letter-spacing: -1px;
  font-family: var(--font-roboto), sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.75rem;
}

.hero-stats-flex {
  justify-content: space-between;
  margin-left: 5px;
  margin-right: 5px;
}

.special-event-section {
  height: 510px;
  margin-top: 190px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.event-wrapper {
  background-color: #ff575a;
  width: 100%;
  max-width: 1440px;
  height: 510px;
  display: flex;
}

.event-text {
  flex-flow: column;
  justify-content: space-around;
  width: 50%;
  min-width: 600px;
  padding-left: 18px;
  display: flex;
}

.h2 {
  letter-spacing: -2px;
  font-family: var(--font-plus_jakarta_sans), sans-serif;
  font-size: 64px;
  line-height: 100%;
}

.h2.event-text {
  color: #fff;
  width: 100%;
  font-size: 4rem;
  line-height: 4rem;
}

.paragraphs {
  color: #fff;
  letter-spacing: -2px;
  font-family: var(--font-roboto), sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.38rem;
}

.button-text {
  letter-spacing: -2px;
  font-family: var(--font-roboto), sans-serif;
  font-size: 1.5rem;
  line-height: 100%;
  text-decoration: none;
  margin-right: 10px; /* Add some space between text and icon */
}

.button {
  letter-spacing: -2px;
  background-color: #000;
  border: 2px solid transparent; /* Set initial border */
  justify-content: space-between; /* Pushes icon to the right */
  align-items: center; /* Center items vertically */
  width: 200px;
  padding: 10px;
  font-family: var(--font-roboto), sans-serif;
  font-size: 24px;
  line-height: 100%;
  text-decoration: none;
  display: flex;
  transition: background-color 0.2s ease, border-color 0.2s ease; /* Add transitions */
}

.h2-heading {
  color: #000;
  text-align: center;
  letter-spacing: -2px;
  font-family: var(--font-plus_jakarta_sans), sans-serif;
  font-size: 4.6875rem;
  font-weight: 800;
  line-height: 7.88rem;
}

.section-spacing {
  margin-top: 97px;
}

.button-blocks {
  width: 100%;
  height: 65px;
  margin-bottom: 21px;
  display: flex;
}

.tab-buttons {
  color: #000;
  text-align: center;
  letter-spacing: -2px;
  background-color: #fff;
  border: 2px solid #000;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;
  text-decoration: none;
  font-family: var(--font-roboto), sans-serif;
  font-size: 1.7rem;
  line-height: 1.25rem;
  display: flex;
  cursor: pointer;
}

.event-details-speakers-grid {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.speaker-card {
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  flex-flow: column;
  justify-content: space-around;
  align-self: center;
  align-items: center;
  width: 100%;
  height: 425px;
  display: flex;
}

.speaker-card:nth-child(odd) {
  border-left: 2px solid #000;
}

.speaker-card:nth-child(-n + 2) {
  border-top: 2px solid #000;
}

.speaker-card:last-child:nth-child(odd) {
  grid-column: span 2;
}

.speaker-name {
  color: #000;
  text-align: center;
  letter-spacing: -2px;
  font-family: var(--font-plus_jakarta_sans), sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2.63rem;
}

.speaker-title {
  color: #000;
  letter-spacing: -2px;
  font-family: var(--font-roboto), sans-serif;
  font-size: 2rem;
  line-height: 2.4rem;
}

.div-block-3 {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
  display: flex;
}

.speaker-desc {
  color: #000;
  text-align: center;
  letter-spacing: -2px;
  padding-top: 20px;
  padding-left: 42px;
  padding-right: 42px;
  font-family: var(--font-roboto), sans-serif;
  font-size: 1.625rem;
  line-height: 1.75rem;
}

.bolden-h2 {
  color: #ff575a;
}

.testomonial-quote {
  color: #000;
  text-align: center;
  letter-spacing: -2px;
  padding-left: 42px;
  padding-right: 42px;
  font-family: var(--font-roboto), sans-serif;
  font-size: 1.625rem;
  font-style: italic;
  line-height: 1.88rem;
}

.testomonial-name {
  color: #000;
  text-align: center;
  letter-spacing: -2px;
  font-family: var(--font-plus_jakarta_sans), sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2.63rem;
}

.testomonial-job-title {
  color: #000;
  letter-spacing: -2px;
  font-family: var(--font-roboto), sans-serif;
  font-size: 2rem;
  line-height: 2.63rem;
}

.testomonial-product-used {
  letter-spacing: -2px;
  font-family: var(--font-roboto), sans-serif;
  font-size: 1.625rem;
  font-weight: 700;
  line-height: 2.63rem;
}

.div-block-4 {
  display: flex;
}

.testomonial-company {
  color: #000;
  letter-spacing: -2px;
  height: 28px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: var(--font-roboto), sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 2.63rem;
}

.testomonial-holder {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 41px;
  padding-bottom: 0;
  display: flex;
}

.testomonial-name-and-desc {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 0;
  padding-bottom: 0;
  display: flex;
}

.testomonial-product-used-holder {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
  display: flex;
}

.testomonial-company-holder {
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 41px;
  padding-bottom: 0;
  display: flex;
}

.testimonials-card {
  background-color: white;
  flex-flow: column;
  justify-content: space-around;
  align-self: center;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.margin-news-sides,
.margin-testimonials-sides,
.event-hero-sides {
  margin-left: 130px;
  margin-right: 130px;
  padding-top: 80px;
  padding-bottom: 80px;
}

.news-block {
  background-color: white;
  width: 100%;
}

.news-title {
  color: #000;
  text-align: left;
  letter-spacing: -2px;
  font-family: var(--font-plus_jakarta_sans), sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 5rem;
}

.news-margin {
  margin: 25px 112px;
}

.news-desc {
  color: #000;
  text-align: left;
  letter-spacing: -2px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: var(--font-roboto), sans-serif;
  font-size: 1.625rem;
  line-height: 1.75rem;
}

.div-block-5 {
  display: flex;
}

.news-button {
  color: #fff;
  letter-spacing: -2px;
  background-color: #000;
  flex-flow: row;
  width: 400px;
  padding: 10px;
  font-family: var(--font-roboto), sans-serif;
  font-size: 24px;
  line-height: 100%;
  text-decoration: none;
  display: flex;
}

.news-desc-copy {
  text-align: left;
  letter-spacing: -2px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: var(--font-roboto), sans-serif;
  font-size: 26px;
  line-height: 28px;
}

.news-date {
  color: #fff;
  text-align: left;
  letter-spacing: -2px;
  background-color: #ff575a;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: var(--font-roboto), sans-serif;
  font-size: 1.5rem;
  line-height: 1.75rem;
  display: flex;
}

.footer-section {
  background-color: #000;
  height: 210px;
  margin-top: 50px;
}

.center-footer {
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.footer-text {
  color: #fff;
  text-align: center;
  letter-spacing: -2px;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: var(--font-roboto), sans-serif;
  font-size: 1.625rem;
  line-height: 1.75rem;
  display: block;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.image-holder {
  flex: none;
  width: 780px;
  height: 100%;
  display: flex;
  overflow: hidden;
}

.product-card-pricing-holder {
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 10px 10px 50px;
  display: flex;
}

.product-card-pricing {
  background-color: #ff575a;
  border: 2px solid #000;
  flex-flow: column;
  justify-content: space-around;
  align-self: center;
  align-items: center;
  width: 100%;
  height: 461px;
  display: flex;
}

.product-details-grid {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.div-block-6 {
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 10px 0;
  display: flex;
}

.product-desc {
  color: #000;
  text-align: left;
  letter-spacing: -2px;
  height: 100%;
  padding-top: 40px;
  padding-left: 18px;
  padding-right: 18px;
  font-family: var(--font-roboto), sans-serif;
  font-size: 1.625rem;
  line-height: 1.75rem;
}

.features-title {
  color: #000;
  text-align: left;
  letter-spacing: -2px;
  justify-content: center;
  align-items: flex-start;
  font-family: var(--font-plus_jakarta_sans), sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2.63rem;
}

.product-desc-pricing-month-billed {
  color: #fff;
  text-align: left;
  letter-spacing: -2px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  font-family: var(--font-roboto), sans-serif;
  font-size: 1.5rem;
  line-height: 1.75rem;
}

.flex-block {
  justify-content: space-between;
  align-items: center;
}

.product-desc-pricing-number {
  color: #fff;
  text-align: left;
  letter-spacing: -2px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  font-family: var(--font-plus_jakarta_sans), sans-serif;
  font-size: 7rem;
  font-weight: 800;
  line-height: 100%;
}

.bullet-point {
  color: #000;
  text-align: left;
  letter-spacing: -2px;
  padding-top: 0;
  padding-left: 20px;
  padding-right: 0;
  font-family: var(--font-roboto), sans-serif;
  font-size: 1.625rem;
  line-height: 1.75rem;
}

.product-desc-pricing-month {
  color: #fff;
  text-align: left;
  letter-spacing: -2px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  font-family: var(--font-roboto), sans-serif;
  font-size: 2rem;
  line-height: 1.75rem;
}

.bullet-container {
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
}

.product-name {
  color: #000;
  text-align: left;
  letter-spacing: -2px;
  font-family: var(--font-plus_jakarta_sans), sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2.63rem;
}

.bullet-point-holder {
  justify-content: space-between;
  align-items: flex-start;
  height: 80%;
}

.product-card-name {
  border: 2px solid #000;
  flex-flow: column;
  background-color: white;
  justify-content: space-around;
  align-self: center;
  align-items: flex-start;
  width: 100%;
  height: 461px;
  display: flex;
}

.features-section {
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px 10px 50px;
  display: flex;
}

.product-pricing {
  color: #fff;
  text-align: left;
  letter-spacing: -2px;
  font-family: var(--font-plus_jakarta_sans), sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2.63rem;
}

.event-details-speakers-testomonials {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.metrics-grid {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.metric-card {
  border: 2px solid #000;
  background-color: white;
  flex-flow: column;
  justify-content: space-around;
  align-self: center;
  align-items: center;
  width: 100%;
  height: 200px;
  display: flex;
}

.div-block-7 {
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 10px 0;
  display: flex;
}

.metric-title {
  color: #000;
  text-align: center;
  letter-spacing: -2px;
  font-family: var(--font-plus_jakarta_sans), sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 2.63rem;
}

.metric-number {
  color: #000;
  text-align: left;
  letter-spacing: -2px;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  font-family: var(--font-plus_jakarta_sans), sans-serif;
  font-size: 4rem;
  font-weight: 800;
  line-height: 100%;
}

.metric-number.users-colour {
  color: #ff575a;
  font-size: 4rem;
}

.funding-information {
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 20px;
  display: flex;
}

.flex-block-2 {
  justify-content: center;
  align-items: center;
}

.funding-subheader {
  color: #000;
  text-align: center;
  letter-spacing: -2px;
  padding: 20px 0;
  font-family: var(--font-roboto), sans-serif;
  font-size: 1.625rem;
  line-height: 1.75rem;
}

@media screen and (max-width: 991px) {
  .heading {
    font-size: 5rem;
    line-height: 5rem;
  }

  .h3 {
    font-size: 1.88rem;
    line-height: 2.21rem;
  }

  .company-info {
    font-size: 1.25rem;
    line-height: 1.46rem;
  }

  .h2.event-text {
    font-size: 3.25rem;
    line-height: 3.25rem;
  }

  .paragraphs {
    font-size: 1.63rem;
    line-height: 1.94rem;
  }

  .button-text {
    font-size: 1.25rem;
  }

  .h2-heading {
    font-size: 3.75rem;
    line-height: 6.3rem;
  }

  .tab-buttons {
    font-size: 1.45rem;
    line-height: 1.04rem;
  }

  .speaker-name {
    font-size: 1.88rem;
    line-height: 2.21rem;
  }

  .speaker-title {
    font-size: 1.63rem;
    line-height: 2.15rem;
  }

  .speaker-desc {
    font-size: 1.38rem;
    line-height: 1.48rem;
  }

  .testomonial-quote {
    font-size: 1.38rem;
    line-height: 1.59rem;
  }

  .testomonial-name {
    font-size: 1.88rem;
    line-height: 2.21rem;
  }

  .testomonial-job-title {
    font-size: 1.63rem;
    line-height: 2.15rem;
  }

  .testomonial-product-used {
    font-size: 1.38rem;
    line-height: 2.22rem;
  }

  .testomonial-company {
    font-size: 1.13rem;
    line-height: 2.37rem;
  }

  .news-title {
    font-size: 3.25rem;
    line-height: 4.11rem;
  }

  .news-desc {
    font-size: 1.38rem;
    line-height: 1.48rem;
  }

  .news-date {
    font-size: 1.25rem;
    line-height: 1.46rem;
  }

  .footer-text {
    font-size: 1.38rem;
    line-height: 1.48rem;
  }

  .product-card-pricing-holder {
    padding-top: 50px;
  }

  .product-details-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .div-block-6 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .product-desc {
    font-size: 1.38rem;
    line-height: 1.59rem;
  }

  .features-title {
    font-size: 1.88rem;
    line-height: 2.21rem;
  }

  .product-desc-pricing-month-billed {
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.48rem;
  }

  .product-desc-pricing-number {
    font-size: 5.6rem;
    line-height: 100%;
  }

  .bullet-point {
    font-size: 1.38rem;
    line-height: 1.48rem;
  }

  .product-desc-pricing-month {
    font-size: 1.63rem;
    line-height: 1.48rem;
  }

  .bullet-container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .product-name {
    font-size: 2rem;
    line-height: 2.1rem;
  }

  .features-section {
    padding-top: 50px;
    padding-left: 18px;
  }

  .product-pricing,
  .metric-title {
    font-size: 1.88rem;
    line-height: 2.21rem;
  }

  .metric-number,
  .metric-number.users-colour {
    font-size: 3rem;
    line-height: 100%;
  }

  .funding-subheader {
    font-size: 1.38rem;
    line-height: 1.48rem;
  }
}

@media screen and (max-width: 767px) {
  .heading {
    font-size: 4rem;
    line-height: 4rem;
  }

  .h3 {
    letter-spacing: -1px;
    font-size: 1.5rem;
    line-height: 1.76rem;
  }

  .div-block-2 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .company-info {
    font-size: 1.13rem;
    line-height: 1.32rem;
  }

  .event-text {
    width: 100%;
    min-width: 0;
    padding-right: 18px;
  }

  .h2.event-text {
    font-size: 2.63rem;
    line-height: 2.63rem;
  }

  .paragraphs {
    letter-spacing: -1px;
    font-size: 1.38rem;
    line-height: 1.64rem;
  }

  .button-text {
    letter-spacing: -1px;
    font-size: 1.13rem;
  }

  .h2-heading {
    font-size: 3rem;
    line-height: 5.04rem;
  }

  .tab-buttons {
    letter-spacing: -1px;
    font-size: 1.3rem;
    line-height: 0.83rem;
  }

  .event-details-speakers-grid {
    grid-template-columns: 1fr;
  }

  .speaker-name {
    letter-spacing: -1px;
    font-size: 1.5rem;
    line-height: 1.76rem;
  }

  .speaker-title {
    letter-spacing: -1px;
    font-size: 1.38rem;
    line-height: 1.82rem;
  }

  .speaker-desc {
    letter-spacing: -1px;
    font-size: 1.25rem;
    line-height: 1.34rem;
  }

  .testomonial-quote {
    letter-spacing: -1px;
    font-size: 1.25rem;
    line-height: 1.44rem;
  }

  .testomonial-name {
    letter-spacing: -1px;
    font-size: 1.5rem;
    line-height: 1.76rem;
  }

  .testomonial-job-title {
    letter-spacing: -1px;
    font-size: 1.38rem;
    line-height: 1.82rem;
  }

  .testomonial-product-used {
    letter-spacing: 0;
    font-size: 1.25rem;
    line-height: 2.02rem;
  }

  .testomonial-company {
    letter-spacing: 0;
    font-size: 1rem;
    line-height: 2.1rem;
  }

  .margin-news-sides,
  .margin-testimonials-sides,
  .event-hero-sides {
    margin-left: 5px;
    margin-right: 5px;
    padding-top: 40px;
  }

  .news-title {
    letter-spacing: -1px;
    font-size: 2.63rem;
    line-height: 3.32rem;
  }

  .news-margin {
    margin-left: 5px;
    margin-right: 5px;
  }

  .news-desc {
    letter-spacing: -1px;
    font-size: 1.25rem;
    line-height: 1.34rem;
  }

  .news-button {
    width: 300px;
  }

  .news-date {
    letter-spacing: -1px;
    font-size: 1.13rem;
    line-height: 1.32rem;
  }

  .footer-text {
    letter-spacing: -1px;
    font-size: 1.25rem;
  }

  .button-blocks {
    margin-bottom: 50px;
  }

  .image-holder {
    display: none;
  }

  .product-card-pricing-holder {
    padding-top: 50px;
    padding-bottom: 30px;
  }

  .product-card-pricing {
    height: 300px;
  }

  .product-details-grid {
    grid-template-columns: 1fr;
  }

  .product-desc {
    text-align: center;
    letter-spacing: -1px;
    font-size: 1.13rem;
    line-height: 1.72rem;
  }

  .features-title {
    letter-spacing: -1px;
    font-size: 1.63rem;
    line-height: 1.72rem;
  }

  .product-desc-pricing-month-billed {
    letter-spacing: -1px;
    font-size: 1.02rem;
    line-height: 1.19rem;
  }

  .product-desc-pricing-number {
    letter-spacing: -1px;
    font-size: 4.55rem;
    line-height: 4.55rem;
  }

  .bullet-point {
    letter-spacing: -1px;
    font-size: 1.13rem;
    line-height: 1.21rem;
  }

  .product-desc-pricing-month {
    letter-spacing: -1px;
    font-size: 1.33rem;
    line-height: 1.17rem;
  }

  .product-name {
    letter-spacing: -1px;
    font-size: 1.63rem;
    line-height: 1.72rem;
  }

  .bullet-point-holder {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .product-card-name {
    height: 300px;
  }

  .product-pricing {
    letter-spacing: -1px;
    font-size: 1.63rem;
    line-height: 1.72rem;
  }

  .event-details-speakers-testomonials,
  .event-details-speakers-grid,
  .metrics-grid {
    grid-template-columns: 1fr;
  }

  .event-details-speakers-grid .speaker-card {
    border-left: 2px solid #000;
    border-right: 2px solid #000;
  }

  .event-details-speakers-grid .speaker-card:first-child {
    border-top: 2px solid #000;
  }

  .event-details-speakers-grid .speaker-card:last-child {
    grid-column: span 1;
  }

  .event-details-speakers-grid .speaker-card:not(:first-child) {
    border-top: none;
  }

  .metric-title {
    letter-spacing: -1px;
    font-size: 1.63rem;
    line-height: 1.72rem;
  }

  .metric-number {
    letter-spacing: -1px;
    font-size: 3.2rem;
    line-height: 100%;
  }

  .metric-number.users-colour {
    font-size: 3.2rem;
  }

  .funding-subheader {
    letter-spacing: -1px;
    font-size: 1.25rem;
    line-height: 1.34rem;
  }
}

@media screen and (max-width: 479px) {
  .heading {
    font-size: 3rem;
    line-height: 3rem;
  }

  .h3 {
    font-size: 1.25rem;
    line-height: 1.47rem;
  }

  .company-info {
    text-align: center;
    font-size: 1rem;
    line-height: 1.17rem;
  }

  .event-wrapper {
    height: 400px;
  }

  .h2.event-text {
    font-size: 2rem;
    line-height: 2.25rem;
  }

  .paragraphs {
    font-size: 1.13rem;
    line-height: 1.34rem;
  }

  .button-text {
    width: 100%;
    font-size: 1rem;
  }

  .h2-heading {
    font-size: 2.25rem;
    line-height: 100%;
  }

  .tab-buttons {
    font-size: 1.15rem;
    line-height: 100%;
  }

  .speaker-name {
    font-size: 1.25rem;
    line-height: 1.47rem;
  }

  .speaker-title {
    font-size: 1.138rem;
    line-height: 1.3rem;
  }

  .speaker-desc {
    font-size: 1.13rem;
    line-height: 1.21rem;
  }

  .testomonial-quote {
    font-size: 1.13rem;
    line-height: 1.3rem;
  }

  .testomonial-name {
    font-size: 1.25rem;
    line-height: 1.47rem;
  }

  .testomonial-job-title {
    font-size: 1.13rem;
    line-height: 1.49rem;
  }

  .testomonial-product-used {
    font-size: 1.13rem;
    line-height: 1.82rem;
  }

  .news-title {
    font-size: 2rem;
    line-height: 2.53rem;
  }

  .news-desc {
    font-size: 1.13rem;
    line-height: 1.21rem;
  }

  .news-button {
    width: 100%;
  }

  .news-date {
    font-size: 1rem;
    line-height: 1.17rem;
  }

  .footer-text {
    font-size: 1rem;
    line-height: 1rem;
  }

  .product-card-pricing-holder {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .product-desc {
    font-size: 1rem;
    line-height: 1.07rem;
  }

  .features-title {
    font-size: 1.25rem;
    line-height: 1.47rem;
  }

  .product-desc-pricing-month-billed {
    font-size: 0.75rem;
    line-height: 1.21rem;
  }

  .product-desc-pricing-number {
    font-size: 3.5rem;
    line-height: 100%;
  }

  .bullet-point {
    font-size: 1rem;
    line-height: 1.07rem;
  }

  .product-desc-pricing-month {
    font-size: 1rem;
    line-height: 1.21rem;
  }

  .product-name {
    font-size: 1.25rem;
    line-height: 1.32rem;
  }

  .product-card-name {
    height: 250px;
  }

  .product-pricing {
    font-size: 1.25rem;
    line-height: 1.32rem;
  }

  .metric-card {
    height: 120px;
  }

  .metric-title {
    font-size: 1.25rem;
    line-height: 1.47rem;
  }

  .metric-number {
    font-size: 2rem;
    line-height: 100%;
  }

  .metric-number.users-colour {
    font-size: 2rem;
  }

  .funding-subheader {
    font-size: 1.13rem;
    line-height: 1.21rem;
  }
}
#company-info-holder {
  order: -9999;
  grid-area: span 1 / span 4 / span 1 / span 4;
  justify-self: stretch;
}

/* --- Custom overrides to ensure consistent 2px borders around cards --- */
.metrics-grid,
.event-details-speakers-testomonials {
  padding: 2px;
}

.metrics-grid,
.product-details-grid,
.event-details-speakers-testomonials {
  gap: 2px;
  background-color: #000;
}

.product-grid-container,
.news-container {
  background-color: #000;
  padding: 2px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.metric-card,
.product-card-name,
.product-card-pricing,
.testimonials-card,
.news-block {
  border: none;
}
@media screen and (min-width: 768px) {
  .testimonials-card:last-child:nth-child(odd) {
    grid-column: span 2;
  }
}

/* --- Button Icon and Hover Styles --- */
.button-svg-icon {
  flex-shrink: 0; /* Prevents the icon from shrinking */
}

.button .button-text,
.button .button-svg-icon line {
  transition: all 0.2s ease;
}

.button .button-text {
  color: #fff;
}

.button .button-svg-icon line {
  stroke: #fff;
}

/* Apply hover effects only on devices that can truly hover */
@media (hover: hover) and (pointer: fine) {
  .button:hover {
    background-color: #fff;
    border-color: #000;
  }

  .button:hover .button-text {
    color: #000;
  }

  .button:hover .button-svg-icon line {
    stroke: #000;
  }
}
